body {
  background-color: #ececec;
}
h1 {
  text-align: center;
  margin-block-start: 2rem;
  color: #323534;
}
h2 {
  color: #2a2b2a;
}
.view-users {
  margin-block-start: 2rem;
}

button,
.button {
  margin-bottom: 0 !important;
  margin-right: 0.5rem;
}
